.the-table{
	background-color: green;
	border-radius:10px;
	margin-top: 30px;
	padding:30px 0px;
	border: 5px solid brown;
}

.card{
	color: black;
	background-color: white;
	height:120px;
	width:30px;
	padding:10px;
	float:left;
}

.card.empty{
	background: #ddd;
	border: 1px black;
	background-image: url(https://m1.behance.net/rendition/modules/45018999/disp/d642abf4e3b76d5ba119ab273393f983.jpg);
	background-size:contain;

}
.col-sm-2.card{
	width:11%;
	margin:10px;
}

.dealer-total-wrapper, .player-total-wrapper {
	color:white;
	font-size: 18px;
}

.dealer-total-wrapper span, .player-total-wrapper span{
	width:block;
	text-align: center;
}

.action-buttons button{
	width:100%;
	background-color: #0f0f0f;
	color:#fff;
}

#reset-button{
	background-color: red;
	margin-top:10px;
}

#message{
	margin-top: 10px;
	color: black;
}

.club{
	background-image: url(http://members.iinet.net.au/~kitiara@westnet.com.au/pictures/club.png);
    background-size: 120%;
    background-position: -8px 10px;
    background-repeat: no-repeat;
}
.spade {
	background-image: url(http://rlv.zcache.com/black_spade_standing_photo_sculpture-r50dd475f83644189bf059d7b2f05e830_x7saw_8byvr_324.jpg);
    background-size: 78%;
    background-position: 11px 26px;
    background-repeat: no-repeat;
}

.heart{
	background-image: url(https://pixabay.com/static/uploads/photo/2012/04/13/20/38/hearts-33564_640.png);
	background-size: 68%;
    background-position: 12px 35px;
    background-repeat: no-repeat;
}

.diamond{
	background-image: url(https://img0.etsystatic.com/010/0/5224796/il_340x270.462213202_iecp.jpg);
    background-size: 106%;
    background-position: 0px 26px;
    background-repeat: no-repeat;
 }